# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
dist/

# Installer logs
target/.metadata/
pip-log.txt
pip-delete-this-directory.txt

# macOS metadata
.DS_Store

# Database
e.g., .sqlite, .db
*.db
.models
